Log
Library
WebGL Builds/Build

Assets/Inworld

# Ignore specific large files
Assets/Inworld/InworldExtraAssets.unitypackage
Library/Bee/artifacts/WebGL/GameAssembly/release_WebGL_wasm/GameAssembly.a
Library/Bee/artifacts/WebGL/il2cppOutput/build/GameAssembly.a

# Ignore other unwanted files or directories
*.log
*.tmp
